<<<<<<< HEAD
﻿<div class="section-counter paralax-mf bg-image" style="background-image: url(/Templates/devfolio-master/img/alesia-kaz-XLm6-fPwK5Q-unsplash.jpg)">
=======
﻿<div class="section-counter paralax-mf bg-image" style="background-image: url(/Templates/devfolio-master/img/counters-bg.jpg)">
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">@ViewBag.projectCount</p>
                        <span class="counter-text">TAMAMLANAN PROJE</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
                    </div>
                    <div class="counter-num">
<<<<<<< HEAD
                        <p class="counter">@ViewBag.categoryCount</p>
=======
                        <p class="counter">@ViewBag.coreCategoryProjectCount</p>
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
                        <span class="counter-text">.NET PROJELERİMİZ</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-people"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">@ViewBag.testimonialCount</p>
                        <span class="counter-text">REFERANSLARIMIZ</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
                    </div>
                    <div class="counter-num">
<<<<<<< HEAD
                        <p class="counter">@ViewBag.ServiceCount</p>
=======
                        <p class="counter">@ViewBag.skillCount</p>
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
                        <span class="counter-text">UZMANLIK ALANLARI</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

