@model DevFolio.Models.TblContact
<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
=======
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
<div class="col-md-6">
    <div class="title-box-2">
        <h5 class="title-left">
            Bize Mesaj Gönder
        </h5>
    </div>
    <div>
        <form method="post">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="form-group">
<<<<<<< HEAD
                        @Html.TextBoxFor(Model => Model.ContactNameSurname, new { @class = "form-control", @placeholder = "İsim Soyisim", @required = "required" })
=======
                        @Html.TextBoxFor(Model => Model.ContactNameSurname, new { @class = "form-control", @placeholder = "İsim Soyisim" })
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
<<<<<<< HEAD
                        @Html.TextBoxFor(Model => Model.ContactEmail, new { @class = "form-control", @placeholder = "e-Mail", @type = "email", @required = "required" })
=======
                        @Html.TextBoxFor(Model => Model.ContactEmail, new { @class = "form-control", @placeholder = "e-Mail" })
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
<<<<<<< HEAD
                        @Html.TextBoxFor(Model => Model.ContactSubject, new { @class = "form-control", @placeholder = "Konu", @required = "required" })
=======
                        @Html.TextBoxFor(Model => Model.ContactSubject, new { @class = "form-control", @placeholder = "Konu" })
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
<<<<<<< HEAD

                        @Html.TextAreaFor(Model => Model.ContactMessage, 5, 5, new { @class = "form-control", @placeholder = "Mesaj Giriniz", @required = "required" })

=======
                        @Html.TextAreaFor(Model => Model.ContactMessage, 5, 5, new { @class = "form-control", @placeholder = "Mesaj Giriniz" })
                        @*<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>*@
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
                        <div class="validation"></div>
                    </div>
                </div>
                <div class="col-md-12">
<<<<<<< HEAD
                    <button class="button button-a button-big button-rouded" >Mesajı Yolla</button>
=======
                    <button class="button button-a button-big button-rouded">Mesajı Yolla</button>
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
                </div>
            </div>
        </form>
    </div>
    @if (ViewBag.show == true)
    {
<<<<<<< HEAD
<script>
    window.alert("Mesajınız Alınmıştır.");
</script>
    
    }
=======
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Mesajın Gönderildi!</strong> Mesaj attığın için çok teşekkür ederim :) En kısa zamanda geri döneceğim...
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>}
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
</div>
